<h2>Delete Student</h2>

<form method="get" asp-controller="Student" asp-action="Delete">
    Enter ID: <input type="number" name="id" /><br /><br />
    <button type="submit">Delete</button>
</form>

<a asp-action="Index">Back</a>