<h2>Student Management (ADO.NET)</h2>

<a asp-action="Create"><button>Create</button></a>
<a asp-action="Read"><button>Read</button></a>
<a asp-action="Update"><button>Update</button></a>
<a asp-action="Delete"><button>Delete</button></a>